<div class="alert alert--danger alert-dismissible fade show" role="alert">
    <div class="alert-container">
        <i class="alert-icon alert-icon--variant fas fa-exclamation-triangle"></i>
        <div class="alert-message">This alert needs your attention, but it's not super important.<a href="JavaScript:void(0);">Read more</a></div>
        <button type="button" class="alert-icon alert-icon--close" data-bs-dismiss="alert" aria-label="Close alert">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
