  ////// column component //////
// Block //
.cmp-column {}

// Elements //
.cmp-column__content {}
.cmp-column__title {}
.cmp-column__subtitle {}
.cmp-column__description {}
.cmp-column__features {}
.cmp-column__ul {}
.cmp-column__ul li {}
.cmp-column__new {}
.cmp-column__icon {}
.cmp-column__mobile-icon {}
.cmp-column__contact-info {}
.cmp-column__cta-text {}
.cmp-column__mobile-number {}
.cmp-column__button {}
.cmp-column__image-container {}

// Modifiers with new theme//
.cmp-column--blue-color {}
.cmp-column--red-color {}
.cmp-column--green-color {}

// Descendants the line //
.cmp-column__line1 {}
.cmp-column__line2 {}



.cmp-column{
      display: flex;
      align-items: flex-start;
      background: $color-lightblue-background;

      @media (max-width: 480px) {
          width: 100%;
          display: inherit;
      }
      
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        display: inherit;
    }
    
    
    &__content {
      flex: 1;
      padding: 2.5rem;
      margin-left: 21rem;
      margin-bottom: 2.5rem; 
      text-align: start;

      @media (max-width: 480px) {
          width: 100%;
          margin-left: 0rem;
          padding: 1.5rem;
          margin-bottom: 0.5rem;

      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        margin-left: 0rem;
        padding: 1.5rem;
        margin-bottom: 0.5rem;

    }
    }
    
    &__title {
      font-size: 20px;
      color: $color-skyblue;
      margin-bottom: 0px;
      margin-top: 2.5rem;
      font-family: Arial;
      font-weight: bold;


      @media (max-width: 480px) {
          width: 100%;
          font-size: 15px;
          font-weight: bold;

      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        font-size: 15px;
        font-weight: bold;

    }
    }
    
    &__subtitle {
      font-size: 42px;
      margin-bottom:0px;
      color:$color-darkblue;
      margin-top: 0rem;
      font-family: Arial;

      @media (max-width: 480px) {
          width: 100%;
          font-size: 27px;
          font-weight: bold;
          }
          @media (min-width: 481px) and (max-width: 1024px) {
            width: 100%;
            font-size: 27px;
            font-weight: bold;
            }
           }
    
    &__description {
      font-size: 13px;
      margin-bottom: 30px;
      color: $color-text-black;
      font-family: Arial;

      @media (max-width: 480px) {
          width: 100%;
          font-size: 21px;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        font-size: 21px;
    }
    }
    
    &__features {
      margin-bottom: 10px;

      @media (max-width: 480px) {
          width: 100%;
          column-count: 1;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        column-count: 1;
    }}
    
    &__features ul {
      list-style-type: disc;
      margin-left: 20px;
      margin-left: 0px;
      padding-left: 0px;
      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
    }
    
    &__phone-number {
      font-size: 16px;
      margin-bottom: 10px;
      font-family: Arial;
      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
    }
    
    &__cta {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
    }
    
    &__cta-text {
      font-size: 16px;
      margin-right: 10px;
      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
      }
    }
    
    &__cta-link {
      font-size: 16px;
      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
    }
    
    &__image-container {
      flex: 0 0 auto;
      margin-left: 0px;
      width: 30%;
      padding: 5rem 7rem 0rem 0rem;
      //padding: 5rem;
      margin-right: 7rem;

      @media (max-width: 480px) {
          width: 100%;
          padding: 1rem 3rem 3rem 3rem;
          margin-right: 0rem;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        padding: 1rem 3rem 3rem 3rem;
        margin-right: 0rem;
    }
    }
    
    &__image-container img {
      max-width: 100%;
      height: 31.5rem;

      @media (max-width: 480px){
          width: 100%;
          height: 14rem;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        height: 14rem;
    }
  }
    
  &__features{
    //display: flex;
    //justify-content: space-between;
    columns: 2;
    column-gap: 20px;

   @media (max-width: 480px) {
      width: 100%;
      columns: 1;

  }
  @media (min-width: 481px) and (max-width: 1024px) {
    width: 100%;
    columns: 1;

}
}
    
    &__features ul 
    {
      margin-top: auto;
    }
    
    &__features li {
      break-inside: avoid;
      margin-bottom: 25px;
      padding-left: 28px;
      display: flex;
      font-size: 18px;
      font-family: Arial;
      color:$color-darkblue;
      font-weight: bold;

      @media (max-width: 480px) {
          width: 100%;
          font-size: 21px;
          padding-top:1rem;
          //padding-bottom: 1rem;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
        font-size: 21px;
        padding-top:1rem;
      }
    }
    
    .cmp-column li:nth-child(odd) {
      display: flex;
    
    }
    
    .cmp-column li:nth-child(even) {
      display: flex;  
    
    }
    
    .cmp-column li:nth-child(n+3) {
      display: flex; 
    
    }
    
    
    .cmp-column__ul {
      list-style: none;
      padding: 0;
    }
    
    .cmp-column-li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 26px;
      line-height: 0.5;
      display: flex !important;

    }

     li::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%) rotate(45deg);
      width: 7px;
      height: 13px;
      border-bottom: 3.5px solid #87CEEB;
      border-right: 3.5px solid #87CEEB;

      @media (max-width: 480px) {
          top: 80%;
          height: 14.5px;

      }
      @media (min-width: 481px) and (max-width: 1024px) {
        top: 80%;
        height: 14.5px;

    }
  }
    
    &__button {
      display: inline-block;
      padding: 10px 20px;
      background: $color-skyblue;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      :hover
      {
          background: $color-lightpink; 
      }

      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
    } 
    .cmp-column--new {
      display: flex;
      align-items: center;
      //border: 1px solid #ffffff;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 2rem;
      background:transparent;

      @media (max-width: 480px) {
          width: 103%;
          
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 103%;
        
    }
    
    
    &__icon {
      margin-right: 10px;
      margin-left: -10px;
      @media (max-width: 480px) {
        margin-right: 5px;

      }
      @media (min-width: 481px) and (max-width: 1024px) {
        margin-right: 5px;

      }
    }
    
    &__mobile-icon {
      width: 48px;
      height: 48px;
      background: $color-skyblue;

      @media (max-width: 480px) {
        // width: 100%;
          //width: 39%;
          margin-right: 5px;

      }
      @media (min-width: 481px) and (max-width: 1024px) {
          margin-right: 5px;

      }
    }
    &__contact-info {
      display: flex;
      flex-direction: column;
      @media (max-width: 480px) {
          margin-top: 0px;
          
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        margin-top: 0px;
        
    }
    }
    
    &__mobile-number {
      font-size: 16px;
      font-weight: bold;
      font-family: Arial;
      color: $color-skyblue;

      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px) {
        width: 100%;
    }
   }
    
    &__cta-text {
      margin-top: 0px;
      font-family: Arial;
      font-weight: bold;
      font-size: 18px;

      @media (max-width: 480px) {
          width: 100%;
      }
      @media (min-width: 481px) and (max-width: 1024px){
        width: 100%;
    }
    }
  } }
    .cmp-column hr  {
      background-color: skyblue;
      border: none;
      display: inline-block;
      height: 5px;
      margin: 5px 1px 20px 0px;
      width: 65px;
      opacity: 1.25;

      @media (max-width: 480px) {
          width: 48%;
          margin: 7px 3px 32px 0;
          height: 4px;
      }
      @media (min-width: 481px) and (max-width: 1024px)  {
        width: 48%;
        margin: 7px 3px 32px 0;
        height: 4px;
    }
      }
      .container{
          max-width: fit-content;
      }
      
      
    ///// theme color /////
    .cmp-column--blue-color
      {
         .cmp-column
          {
              background: $color-text-white;}
    
              .cmp-column__title
              {
                  color:$color-link;
              }
              ul li::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 6px;
                  transform: translateY(-50%) rotate(45deg);
                  width: 7px;
                  height: 13px;
                  border-bottom: 3.5px solid $color-link;
                  border-right: 3.5px solid $color-link;
              } 
              .cmp-column__button
              {
                  background: $color-link;
                  color: white;
              }
              .cmp-column--new__mobile-icon{
                  background: $color-link;
    
              }
              .cmp-column--new__mobile-number 
              {
                  color: $color-link;   
              } 
              hr 
              {
                  background-color: $color-link;}
              }
      
    
    .cmp-column--red-color
      {
          .cmp-column
          {
              background: $color-text-white;}
              .cmp-column__title
              {
                  color:$color-text-red;
              }
              ul li::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 6px;
                  transform: translateY(-50%) rotate(45deg);
                  width: 7px;
                  height: 13px;
                  border-bottom: 3.5px solid $color-text-red;
                  border-right: 3.5px solid $color-text-red;
              } 
              .cmp-column__button
              {
                  background: $color-text-red;
                  color: white;
              }
              .cmp-column--new__mobile-icon{
                  background: $color-text-red;
    
              }
              .cmp-column--new__mobile-number
              {
                  color: $color-text-red;   
              }
              hr 
              {
                  background-color: $color-text-red;}
              }
      
    
    .cmp-column--green-color
      {
          .cmp-column
          {
              background: $color-background;}
              .cmp-column__title
              {
                  color:$color-lightgreen;
              }
              ul li::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 6px;
                  transform: translateY(-50%) rotate(45deg);
                  width: 7px;
                  height: 13px;
                  border-bottom: 3.5px solid $color-lightgreen;
                  border-right: 3.5px solid $color-lightgreen;
              } 
              .cmp-column__button
              {
                  background: $color-lightgreen;
                  color: white;
              }
              .cmp-column--new__mobile-icon{
                  background: $color-lightgreen;
    
              }
              .cmp-column--new__mobile-number 
              {
                  color: $color-lightgreen;   
              } 
              hr 
              {
                  background-color: $color-lightgreen;}
      }
      