.cmp-main__title{
    text-align: justify;
    color: blue;
    letter-spacing: 1px;
    font-size: 25px;
    margin-left: 35px;
}

.cmp-main_item {
    text-align: justify;
    letter-spacing: 1px;
    background-color: beige;
    font-size: 20px;
}

li {
    display: inline;
}