<div class="cmp-nav">

<div class="cmp-nav__button">


<div class="cmp-nav__logo"><img src="https://www.trex.com/etc.clientlibs/trex/clientlibs/clientlib-site/resources/images/trex-logo.png"></div>
<a class="cmp-nav__button-Home" href="#">Home</a>

<div class="cmp-nav__button-About" href="#">About Rajasthan</a>

<a class="cmp-nav__button-Places" href="#">Tourist Places</a>

<a class="cmp-nav__button-Hotels" href="#">Hotels</a>

<a class="cmp-nav__button-Contact" href="#">Contact Us</a>

</div>

</div>