/* Theme Colors */
$primary: #0077CD;
$secondary: #d9d9d9;
$accent-primary: #9f28b5;
$accent-secondary: #f05b14;



$white: #ffffff;
$black: #000000;
$grey: #757575;
$bg-pink:rgba(240, 91, 20, 0.1);

/* Theme Fonts */
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Bodoni Moda", serif;

