<sly
  data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Column"
   data-sly-use.templates="core/wcm/components/commons/v1/templates.html"  
  >
   <sly data-sly-test="${!model.isEmpty}"> 

  <div class="cmp-column">
  <div class="cmp-column__content">
    <h2 class="cmp-column__title">${model.title}</h2>
    <h3 class="cmp-column__subtitle">${model.subtitle}</h3>
    <hr class="line1">
    <hr class="line2">
    <div class="cmp-column__description">${model.description}</div>
    <div class="cmp-column__features">
      <ul class="cmp-column__ul"  data-sly-list.item="${model.feature}">
      <li class="cmp-column-li">${item}</li>
      </ul>
    </div>
<div class="cmp-column--new">
  <div class="cmp-column--new__icon">
    <img src="https://icon-library.com/images/white-phone-icon-png-transparent/white-phone-icon-png-transparent-3.jpg" alt="Mobile Icon" class="cmp-column--new__mobile-icon">
  </div>
  <div class="cmp-column--new__contact-info">
  <div class="cmp-column--new__cta-text">${model.ctaText}</div>
  <div class="cmp-column--new__mobile-number">${model.phoneNumber}</div>
  </div>
</div>
<button class="cmp-column__button">Request A Quote</button>
</div>
  <div class="cmp-column__image-container">
    <img src="${model.imageCopy}" alt="Image">
  </div>
</div>
</sly>

</sly>
  <sly data-sly-call="${templates.placeholder @ isEmpty = model.isEmpty}"></sly>



