
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;
$font-size-type-author: 12px;



//== Color
$color-text-black:      #000000;
$color-text-red:        #ff0000;
$color-text-white:      #ffffff;


// Normal mode
$color-foreground:      #202020;
$color-background:      #f8f4f4;
$color-link:            #2020E0;


// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

// colors 

$color-skyblue:#87CEEB;
$color-darkblue:#23395d;
$color-lavenderblush:#FFF0F0;
$color-lightgreen:#32CD32;
$color-lime:#7FFF00;
$color-lightpink:pink;

// gradient color

$color-background-light: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(219,249,255,1) 100%);